{% load tz %}
{% load staticfiles %}
{% load crispy_forms_tags %}

<div class="container">
   <div class="row">
      <div class="col-md-12">
        <div class="panel-group">
          <div class="panel panel-info">
            <div class="panel-heading clearfix"><i class="fa fa-group fa-lg"></i>{% include 'edc_search/search_form.html' %}</div>
            <div class="panel-body">
              <!--start results-->
              {% if results %}
                  <div class="table table-responsive">
                    <table class="table table-condensed table-hover small">
                      <thead>
                      		<th>#</th>
                          <th></th>
                          <th>Member</th>
                      		<th>Relation</th>
                          <th>Community</th>
                          <th>Survey</th>
                          <th>Year</th>
                      		<th>Modified</th>
                          <th>Host</th>
                        </thead>
                        <tbody>
                        {% for obj in results %}
                          <tr>
                            <td>{{ forloop.counter }}</td>
                            <td style="white-space: nowrap">
                              <a role="button" title="plot" class="btn btn-sm btn-default" href="{% url 'plot:list_url' plot_identifier=obj.plot_identifier %}"> <i class="fa fa-building-o fa-lg"></i></a>
                              <a role="button" title="household" class="btn btn-sm btn-default" href="{% url 'household:list_url' household_identifier=obj.household_identifier %}"> <i class="fa fa-home fa-lg"></i></a>
                              <a role="button" title="enumeration" class="btn btn-sm btn-success" href="{% url 'enumeration:list_url' household_identifier=obj.household_identifier survey=obj.survey.field_value %}"><i class="fa fa-sitemap fa-sm"></i></a>
                            </td>
                            <td>{{ obj.first_name }} {{ obj.initials }} {{ obj.age_in_years }} {{ obj.get_gender_display }} </td>
                            <td>{{ obj.get_relation_display }}</td>
                            <td>{{ obj.community_name|title }}</td>
                            <td>{{ obj.survey.name|upper }}</td>
                            <td>{{ obj.survey.schedule_name|upper }}</td>
                            <td>{{ obj.modified|date:"Y-m-d H:i" }}</td>
                            <td>{{ obj.hostname_created }}</td>
                          </tr>
                        {% endfor %}
                      </tbody>
                    </table>
                    {% include 'edc_search/paginator.html' %}
                  </div>
              {% endif %}
              <!--end results-->
            </div>
          </div>
        </div>
      </div>
    </div> 
  </div>